<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.imooc.dto.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="getAll" resultMap="BaseResultMap">
        select * from users
    </select>

    <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT *
        FROM users
        WHERE id= #{id}
    </select>

    <select id="getUserbyName" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT *
        FROM users
        WHERE username = #{name}
    </select>

    <insert id="insert" parameterType="com.imooc.dto.User">
        INSERT INTO
           users VALUE (#{id}, #{username},#{password},#{mail})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM
        users
        WHERE id= #{id}
    </delete>


</mapper>